.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

img.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #a4acbc;
}
