.container {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    justify-content: center;
    gap: 4em;
    margin-top: 20px;
    margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
.container {
        gap: 1.5em;
        flex-direction: column;
    }
}

img.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #a4acbc;
}

li {
    list-style-type: none;
    line-height: 1.5em;
}

ul {
    width: 12em;
    padding: 0;
}

.row {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    i,.material-icons {
        width: 20px;
        text-align: center;
    }
}

.material-icons {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #5C6168;
    &:hover {
        font-weight: bold;
    }
}
