<div class="container">
	<img class="profile" src="assets/profile.jpg" />
	<ul>
		<li><a href="mailto:{{email}}" class="row"><span class="material-icons"> email </span> <span>{{email}}</span></a></li>
		<li class="row"><span class="material-icons"> phone_iphone </span> <span>{{phone}}</span></li>
		<li><a [href]="github.address" class="row"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
 <span>{{github.name}}</span></a></li>
		<li><a [href]="linkedin.address" class="row"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
 <span>{{linkedin.name}}</span></a></li>
	</ul>
</div>
