* {
    font-family: 'Fira Sans';
    color: #5C6168;
}


@media screen and (max-width: 700px) {
    * {
        font-size: 0.9em;
    }
}

.container {
    display: flex;
    height: 100%;
}

app-sidebar {
    flex: 25%;
    min-width: 120px;
    max-width: 350px;
    background-color: #E8EAEE;
    overflow: auto;
}

.content {
    flex: 75%;
    overflow: auto;
    background-color: #f9f9fa;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 10px;
}

@media (min-width: 1700px) and (min-height: 1180px) {
    .content {
        flex-flow: column wrap;
    }
}
