<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

<!-- Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-header></app-header>
    <app-section title="Profesionnal Experience" [subsections]="experience"></app-section>
  </div>
</div>
