<!-- font -->
<!-- <link href="https://fonts.googleapis.com/css?family=Inter&#38;display=swap" rel="stylesheet" /> -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:regular,bold" rel="stylesheet">

<!-- Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Devicons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


<app-sidebar></app-sidebar>
<div class="content">
  <app-header></app-header>
  <ng-container *ngFor="let section of sections | async;">
    <app-section [title]="section.title" [subsections]="section.subsections"></app-section>
  </ng-container>
</div>
