* {
    font-family: 'Fira Sans';
    color: #5C6168;
}


@media screen and (max-width: 700px) {
    * { font-size: 0.9em; }
}

app-sidebar {
    position: fixed;
    width: min(max(25%, 135px), 350px);
    height: 100%;
    background-color: #E8EAEE;
    overflow: auto;
}
@media print {
    app-sidebar {
        position: absolute;
        height: 200%;
        background-color: #f3f4f6;
    }
}

.content {
    position: relative;
    margin-left: min(max(25%, 135px), 350px);
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 10px;
}

@media (min-width: 1700px) and (min-height: 1180px) {
    .content { flex-flow: column wrap; }
}

@media print {
    .content {
        display: block;
        overflow: visible;
    }
}
