* {
    font-family: 'Fira Sans';
    color: #5C6168;
}

.container {
    display: flex;
    height: 100%;
}

app-sidebar {
    flex: 25%;
    min-width: 250px;
    background-color: #E8EAEE;
}

.content {
    flex: 75%;
    min-width: 500px;
    background-color: #f9f9fa;
}
