<div class="subsection" *ngIf="data">
    <div class="head">
        <div class="head-line">
            <p class="title">{{data.title}}</p>
            <p class="location">{{data.location}}</p>
        </div>
        <div class="head-line">
            <p class="subtitle">{{data.subtitle}}</p>
            <p class="date">{{data.date?.start}}{{data.date?.end ? ' - ' + data.date?.end: ''}}</p>
        </div>
    </div>
    <ul class="items" *ngFor="let item of data.items">
        <li class="item">{{item}}</li>
    </ul>
</div>
