<div class="subsection" *ngIf="data">
    <div class="head">
        <div class="head-line">
            <p class="title">{{data.title}}</p>
            <p class="location">{{data.location}}</p>
        </div>
        <div class="head-line">
            <p class="subtitle">{{data.subtitle}}</p>
            <p class="date">{{data.date?.start}}{{data.date?.end ? ' - ' + data.date?.end: ''}}</p>
        </div>
    </div>
    <ul class="items">
        <ng-container  *ngFor="let item of data.items">
            <li *ngIf="!isSubList(item)" class="item">{{item}}</li>
            <ul *ngIf="isSubList(item)" class="sublist"><li *ngFor="let i of toList(item)">{{i}}</li></ul>
        </ng-container>
    </ul>
</div>
